/* Index and Main structure CSS */

#container{

    display: block;
    width: 960px;
    margin: auto;
    background-color: white;

}

header{

    border-bottom-style: solid;
    border-width: 1px;
    border-color: #777777;
    background-color: white;
    height: 75px;

    


}

#westonmeier {

    float: left;
    background-color: #4aaaa5;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 12px;
    border-radius: 1px;
    border-style: solid;


}

.links{


    font-family:Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: #777777;
    float: right;
    border-left: 1px solid #efefef;
    padding-left: 4px;
    padding-right: 4px;


}

.nav{
    
    padding-top: 40px;
    margin-top: 10px;
    background-color: white;
    

}

#about-header{  

    font-family: 'Times New Roman', Times, serif; 
    color: #4aaaa5;
    border-top: #777777; 
    margin: auto;


}

body {

    background-image: url("../../assets/so-white/so-white.png");

}

#mainbody{
    
    display: block; 
    width: 960px;
    margin-top: 30px; 
    background-color: white; 
    margin: auto; 
    font-family: Arial, Helvetica, sans-serif;
    color: #777777; 
    line-height: 30px; 
    
    

}

#profilepic{

    float: left; 
    margin-right: 5px;


}

#aboutbody{

    
    padding-bottom: 150px; 

}



/* Contact form CSS */


#contact-header{

    color: #4aaaa5;
    
}

.textinput{

    
        margin-top: 30px; 
    
}


form{

    font-family: Arial, Helvetica, sans-serif;
}

input {


    width: 915px;
    margin-top: 1px;
    margin-bottom: 5px;
    margin-left: 10px; 
    
}

textarea {

    max-width: 915px;
    width: 915px;
    max-height: 155px;
    height: 150px;
    margin-left: 10px;

    
    
}

button {


    margin-top: 5px;
    background-color: #4aaaa5;
    color: white;
    border: none;
    font-size: 15px;
    padding: 10px 25px;
    text-align: center;
    cursor: pointer;
    margin-left: 10px; 
}


/* Portfolio page CSS */

#portfolio-header{

    font-family: 'Times New Roman', Times, serif;
    color: #4aaaa5;

}

.apptitles {

    position: absolute; 
    height: 30px; 
    width: 190px; 
    background-color: #4aaaa5;
    font-family: Arial, Helvetica, sans-serif;
    color: white; 
    text-align: center;
    padding-top: 10px; 
    z-index: 1;

}





.placeholders {

    width: 960px; 
    float: left;
    


}


.phrow1 {

    margin: auto; 


}

#pic1 {

    padding-right: 40px; 


}

#pic2 {

    padding-right: 40px; 

}




.phrow2 {

    clear: left; 
    padding-top: 30px; 
    margin: auto; 

}


#pic4 {

    margin-right: 40px; 

}






#footer {

    position: fixed; 
    border-top-style: solid;
    border-width: 8px; 
    border-color: #4aaaa5;
    background-color: #777777;
    width: 960px;
    height: 40px; 
    margin-top: 60px;
    margin-left: 280px; 
    color: white; 
    text-align: center;
    bottom: 0%; 

}

